<!-- HEADER -->
<table class="footer-wrap">
    <tr>
        <td class="container">
            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <div class="custom-border">
                                <div class="blue-border"></div>
                                <div class="red-border"></div>
                            </div>
                            <p class="ssvq-color">Mi SSVQ</p>
                            <div class="custom-border">
                                <div class="blue-border"></div>
                                <div class="red-border"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->
        </td>
    </tr>
</table>
<!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td class="container"
            bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p class="lead">
                                Hola, <b><%= user.name %> <%= user.lastname %></b>
                            </p>
                            <p class="lead">
                                <b><%- email.assignedBy.fullname %></b> <%- email.description %>
                            </p>
                            <b>Recurso:</b>
                            <div class="box-request">
                                <p><span class="respect-line-break">Modelo: <%- email.resource.model %></span></p>
                                <p><span class="respect-line-break">Serial: <%- email.resource.serialNumber %></span></p>
                                <p><span class="respect-line-break">Observaciones: <%- email.resource.observations %></span></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
    </tr>
</table>
<!-- /BODY -->
